{% extends 'base.html' %}
{% block content %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}
<style>
.card-title-resize{
	min-height: 6rem;
}
</style>
<div class="parallax" style="background-image: url('../img/xanadu-background.png'); box-shadow: none;">
    <div class="container">

        <div class="mt-5 pt-5 text-center teal-text text-lighten-2">
            <img src="../img/carnival_splash.png" class="logo"></img>
        </div>
        <div class="row text-center">
            <h3 class="col-12 mt-5 mb-5 grey-text" style="font-family: 'Roboto', sans-serif !important;">Attractions
            </h3>
        </div>

        <div class="row">
            <div class="col-md-4 mb-5">
                    <div class="card card-image" style="background-image: url(../img/learn.png); background-size: cover;">
                        <a href="scavenger_hunt.html">
                        <div class="text-center d-flex align-items-center rgba-white-strong mask">

				  <div class="col-md-12">
				    <div class="row my-4">
				      <div class="col-6 col-sm-4">
					      <i class="fas fa-ticket-alt fa-5x" style="color:black"></i>
					    </div>
				      <div class="col-4 col-sm-6">
					<h3 class="card-title card-title-resize"></i>
					    <strong>Scavenger Hunt</strong>
					</h3>
				      </div>
				    </div>
				   <h5 class="mb-1 black-text px-3">Nov 1-30</h5>
				  </div>

                        </div>
                        </a>
                    </div>
            </div>
           <div class="col-md-4 mb-5">
                    <div class="card card-image" style="background-image: url(../img/learn.png); background-size: cover;">
                        <a href="talent_show.html">
                        <div class="text-center d-flex align-items-center rgba-white-strong mask">

				  <div class="col-md-12">
				    <div class="row my-4">
				      <div class="col-6 col-sm-4">
					      <i class="fas fa-palette fa-5x" style="color:black"></i>
				      </div>
				      <div class="col-4 col-sm-6">
					<h3 class="card-title card-title-resize"></i>
					    <strong>Talent Show</strong>
					</h3>
				      </div>
				    </div>
				   <h5 class="mb-1 black-text px-3">Nov 1-30</h5>
				  </div>

                        </div>
                        </a>
                    </div>
            </div>
           <div class="col-md-4 mb-5">
                    <div class="card card-image" style="background-image: url(../img/learn.png); background-size: cover;">
                        <div class="text-center d-flex align-items-center rgba-white-strong mask">

				  <div class="col-md-12">
				    <div class="row my-4">
				      <div class="col-6 col-sm-4">
					      <i class="fas fa-microphone-alt fa-5x" style="color:black"></i>
				      </div>
				      <div class="col-4 col-sm-6">
					<h3 class="card-title card-title-resize"></i>
					    <strong>Trivia Party</strong>
					</h3>
				      </div>
				    </div>
				   <h5 class="mb-1 black-text px-3">Nov 1-30</h5>
				  </div>

                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-5">
                    <div class="card card-image" style="background-image: url(../img/learn.png); background-size: cover;">
                        <div class="text-center d-flex align-items-center rgba-white-strong mask">

				  <div class="col-md-12">
				    <div class="row my-4">
				      <div class="col-6 col-sm-4">
					      <i class="fas fa-laptop-code fa-5x" style="color:black"></i>
				      </div>
				      <div class="col-4 col-sm-6">
					<h3 class="card-title card-title-resize"></i>
					    <strong>Coding Challenges</strong>
					</h3>
				      </div>
				    </div>
				   <h5 class="mb-1 black-text px-3">Nov 1-30</h5>
				  </div>

                        </div>
                    </div>
            </div>
           <div class="col-md-4 mb-5">
                    <div class="card card-image" style="background-image: url(../img/learn.png); background-size: cover;">
                        <div class="text-center d-flex align-items-center rgba-white-strong mask">

				  <div class="col-md-12">
				    <div class="row my-4">
				      <div class="col-6 col-sm-4">
					      <i class="fas fa-trophy fa-5x" style="color:black"></i>
				      </div>
				      <div class="col-4 col-sm-6">
					<h3 class="card-title card-title-resize"></i>
					    <strong>Prize Winners</strong>
					</h3>
				      </div>
				    </div>
				   <h5 class="mb-1 black-text px-3">Nov 1-30</h5>
				  </div>

                        </div>
                    </div>
            </div>
           <div class="col-md-4 mb-5">
                    <div class="card card-image" style="background-image: url(../img/learn.png); background-size: cover;">
                        <div class="text-center d-flex align-items-center rgba-white-strong mask">

				  <div class="col-md-12">
				    <div class="row my-4">
				      <div class="col-6 col-sm-4">
					      <i class="fas fa-bullhorn fa-5x" style="color:black"></i>
				      </div>
				      <div class="col-4 col-sm-6">
					<h3 class="card-title card-title-resize"></i>
					    <strong>Special Announcements</strong>
					</h3>
				      </div>
				    </div>
				   <h5 class="mb-1 black-text px-3">Nov 1-30</h5>
				  </div>

                        </div>
                    </div>
            </div>
        </div>


        <div id="latest-news" class="pb-5 d-none">
          <h3 class="mb-3 mt-0">Latest Blog Posts</h3>
          <div class="news text-left">
            <ul class="news__item-list"></ul>
          </div>
        </div>

    </div>
</div>


{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% endblock %}
