{% extends 'base.html' %}
{% block content %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

<div class="parallax" style="background-image: url('../img/xanadu-background.png'); box-shadow: none;">
    <div class="container">

        <div class="mt-5 pt-5 text-center teal-text text-lighten-2">
            <img src="../img/carnival_logo_splash.png" class="logo"></img>
        </div>
        <div class="row text-center">
            <h3 class="col-12 mt-5 mb-5 grey-text" style="font-family: 'Roboto', sans-serif !important;">
            Step right up and try your hand at the Quantum Carnival coding challenges.</strong> 
            </h3>
	<div style="font-size: 14pt;">
            
<p>
From November 16-30, you can earn Quantum Carnival tickets by completing PennyLane coding exercises in the <a href="https://codebook.xanadu.ai">Xanadu Quantum Codebook</a>. 🧑‍🍳 
</p>

<p>
We've randomly selected which coding exercises give tickets 🎟️, so you'll have to do some exploration to find them all!
</p>

<p>
The Xanadu Quantum Codebook is a hands-on interactive educational resource for learning about quantum computing.
Check out the <a href="https://codebook.xanadu.ai">codebook website</a> to learn more.
</p>

<br>


{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% endblock %}
