{% extends 'base.html' %}
{% block content %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

<div class="parallax" style="background-image: url('../img/xanadu-background.png'); box-shadow: none;">
    <div class="container">

        <div class="mt-5 pt-5 text-center teal-text text-lighten-2">
            <img src="../img/carnival_logo_splash.png" class="logo"></img>
        </div>
        <div class="row text-center">
            <h3 class="col-12 mt-5 mb-5 grey-text" style="font-family: 'Roboto', sans-serif !important;">
            The PennyLane <strong>Community Calls</strong> are an important gathering place for us!
            </h3>
	<div style="font-size: 14pt;">
            <p>
            Our Thursday community calls are here for you to ask questions, learn something new, 
            meet with other community members and much more.
</p>

<p>
Come every Thursday at 11am ET to the community-call voice channel of the <a href ="https://discord.com/invite/JqVGmpkP96">Unitary Fund Discord</a>.
</p>
<p>
During the Quantum Carnival you can also get tickets for attending!
</p>


<p>
Our next community call is on Thursday November 11th, and in this occasion we will learn about some of the 
best new features in the latest release. We will also learn about a very important deprecation 
so don't miss the call!
</p>

<p>
Of course, attendees will get #QuantumCarnival tickets 🎟️ 🤩.
</p>

<p>Come and celebrate PennyLane’s 3rd anniversary by meeting people and learning!</p>


{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% endblock %}
