{% extends 'base.html' %}
{% block content %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

<div class="parallax" style="background-image: url('../img/xanadu-background.png'); box-shadow: none;">
    <div class="container">

        <div class="text-center teal-text text-lighten-2">
            <img src="../img/carnival_logo_splash.png" class="logo"></img>
        </div>
        <div class="row text-center">
            <h3 class="col-12 mt-5 mb-5 grey-text" style="font-family: 'Roboto', sans-serif !important;">We're celebrating PennyLane's 3rd birthday!
            Join us in November for a month-long celebration with astonishing announcements,
            thrilling events, and spectacular prizes.
            </h3>
        </div>

        <div class="row">
            <div class="col-lg-4 mb-5">
                <a href="talent_show.html">
                    <div class="card card-image" style="background-image: url(../img/learn.png); background-size: cover;">
                        <div class="text-center d-flex align-items-center rgba-white-strong mask" style="background-color: rgba(255, 248, 238, 0.8)";>
                            <div>

				 <div class="m-3 card-image">
				         <img width="215px" src="../img/balloons.png" />
				 </div>

                                <h3 class="card-title">
                                    <strong>Talent Show</strong>
                                </h3>

                                <p class="mb-1 black-text px-3">Take a look at the best creations participating in our talent show</p>
                                <div class="white-text d-flex justify-content-center">
                                    <h5>Check them out <i class="fas fa-angle-double-right"></i></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 mb-5">
                <a href="prize_booth.html">
                    <div class="card card-image" style="background-image: url(../img/fireworks_blur.png);">
                        <div class="text-center d-flex align-items-center mask rgba-white-strong" style="background-color: rgba(239, 255, 238, 0.8);">
                            <div>

				 <div class="m-3 card-image">
				         <img width="186px" src="../img/tickets.png" />
				 </div>

                                <h3 class="card-title"></i>
                                    <strong>Prize Booth</strong>
                                </h3>

                                <p class="mb-1 black-text px-3">Find out what prizes will be given out to participants.
</p>
                                <div class="white-text d-flex justify-content-center">
                                    <h5>See the prizes <i class="fas fa-angle-double-right"></i></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 mb-5">
                <a href="community_calls.html">
                    <div class="card card-image" style="background-image: url(../img/tent_blur.png); background-size: cover;">
                        <div class="text-center d-flex align-items-center mask"  style="background-color: rgba(227, 221, 236, 0.8)">
                            <div style="width: 100%; min-height: 198px;">

				 <div class="m-3 card-image">
				         <img width="300px" src="../img/fireworks.png" />
				 </div>

                                <h3 class="card-title"></i>
                                    <strong>Community Calls</strong>
                                </h3>

                                <p class="mb-1 black-text px-3">Meet other PennyLaners and learn new things every week.
</p>
                                <div class="white-text d-flex justify-content-center">
                                    <h5>Learn more <i class="fas fa-angle-double-right"></i></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row text-center">
            <h3 class="col-12 mt-5 mb-5 grey-text" style="font-family: 'Roboto', sans-serif !important;">Got questions? Check out our <a href="faq.html">FAQ</a>.
            </h3>
        </div>
        
        <div class="row-sm text-center">
            <p class="\grey-text" style="font-family: 'Roboto', sans-serif !important;"><a href="terms_and_conditions.html">Terms & Conditions</a>
            </h3>
        </div>


    </div>
</div>


{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% endblock %}
