{% extends 'base.html' %}
{% block content %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

<div class="parallax" style="background-image: url('../img/xanadu-background.png'); box-shadow: none;">
    <div class="container">

        <div class="mt-5 pt-5 text-center teal-text text-lighten-2">
            <img src="../img/carnival_logo_splash.png" class="logo"></img>
        </div>
        <div class="row-sm text-center justify-content-center" style="color:grey; font-family: 'Roboto', sans-serif !important;">
            <h3 class="col-12 mt-5 mb-5 grey-text">
                Exchange your tickets for amazing <strong>Carnival Prizes</strong>. 
            </h3>
            
	<div style="font-size: 14pt;">
            <p>
            The participants with the most points will earn some cool Xanadu swag. 😎

</p>

<p>
Make sure to <a href="https://pennylane.ai/carnival/register.html">register</a> and save all of your ticket codes. 
At the end of the month you will receive a form to redeem your codes and claim PennyLane #QuantumCarnival prizes! 🎟️

</p>

<p>
What kind of things can you get? Check out all of the items below. 🤩

<br>
</p>

        </div>
        </div>
        <div class = "row align-items-center">    
            <div class="col">
                <img src="../img/xanadu_logo_hoodie.png" class="rounded mx-auto d-block" style="max-width: 300px;"></img>
            </div>
            <div class="col">
                <img src="../img/xanadu_t_shirt.jpeg" class="rounded mx-auto d-block" style="max-width: 300px;"></img>
            </div>
            <div class="col">
                <img src="../img/xanadu_backpack.png" class="rounded mx-auto d-block" style="max-width: 300px;"></img>

            </div>
        </div>
        <div class = "row justify-content-center align-items-center">    
            <div class="col">
                <img src="../img/xanadu_bottle_opener.jpg" class="rounded mx-auto d-block" style="max-width: 300px;"></img>
            </div>
            <div class="col">
                <img src="../img/xanadu_baseball_hat.jpg" class="rounded mx-auto d-block" style="max-width: 300px;"></img>
            </div>
            <div class="col">
                <img src="../img/tree.png" class="rounded mx-auto d-block" style="max-width: 300px;"></img>
            </div>
            <div class="col">
                <img src="../img/certificate.png" class="rounded mx-auto d-block" style="max-width: 300px;"></img>
            </div>
        </div>
        
        <div class="row-sm text-center">
            <p class="\grey-text" style="font-family: 'Roboto', sans-serif !important;"><a href="terms_and_conditions.html">Terms & Conditions</a>
            </h3>
        </div>
        
    </div>
</div>


{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% endblock %}
