{% extends 'base.html' %}
{% block content %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

<div class="parallax" style="background-image: url('../img/xanadu-background.png'); box-shadow: none;">
    <div class="container">

        <div class="mt-5 pt-5 text-center teal-text text-lighten-2">
            <img src="../img/carnival_splash.png" class="logo"></img>
        </div>


        <div class="row text-center">
            <h3 class="col-12 mt-5 mb-5 grey-text" style="font-family: 'Roboto', sans-serif !important;">Ready to cash in your tickets at the prize booth? <a href="claim.html">Claim a prize here</a>.
            </h3>
        </div>

        <div class="row text-center">
            <h3 class="col-12 mt-5 mb-5 grey-text" style="font-family: 'Roboto', sans-serif !important;">Got questions? Check out our <a href="faq.html">FAQ</a>.
            </h3>
        </div>

        <div id="latest-news" class="pb-5 d-none">
          <h3 class="mb-3 mt-0">Latest Blog Posts</h3>
          <div class="news text-left">
            <ul class="news__item-list"></ul>
          </div>
        </div>

    </div>
</div>


{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% endblock %}
