{% extends 'base.html' %}
{% block content %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

<div class="parallax" style="background-image: url('../img/xanadu-background.png'); box-shadow: none;">
    <div class="container">

        <div class="mt-5 pt-5 text-center teal-text text-lighten-2">
            <img src="../img/carnival_logo_splash.png" class="logo"></img>
        </div>
        <div class="row text-center">
            <h3 class="col-12 mt-5 mb-5 grey-text" style="font-family: 'Roboto', sans-serif !important;">
            A celebration needs a party so come to the Quantum Carnival's very own <strong>Trivia Party!</strong>
            </h3>
	<div style="font-size: 14pt;">
            <p>
            Are you ready to put your knowledge to the test?
</p>

<p>
Come to the Trivia Party on November 12th at noon ET and have fun while learning new things! 
<p>
See the event in your local time zone <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=Quantum+Carnival+Trivia&iso=20211112T12&p1=250"> here</a>.
</p>
</p>

<p>
We will have questions on different topics, so invite your friends and have a good time. 🥳
</p>

<p>
Of course, attendees will get #QuantumCarnival tickets 🎟️ and the winner will get a golden ticket worth a lot of points. 🤩
</p>

<p>Come and celebrate PennyLane’s 3rd anniversary by meeting people and having fun!</p>

<p>
    <style>.myButton {background-color:#44c767;
        border-radius:28px;border:1px solid #18ab29;
        display:inline-block;
        cursor:pointer;color:#ffffff;
        font-family:Arial;font-size:16px;
        padding:16px 31px;text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;}.myButton:hover 
        {background-color:#5cbf2a;}.myButton:active {position:relative;top:1px;}</style>
        <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20211112T170000Z%2F20211112T180000Z&details=Have%20fun%2C%20learn%20and%20earn%20tickets%20at%20our%20trivia%20party%21%0A%3Ca%20href%3D%22meet.google.com%2Fvxj-xwfc-iyx%22%3EClick%20here%20%3C%2Fa%3E%20to%20join%20the%20google%20meet.%0AMeeting%3A%20meet.google.com%2Fvxj-xwfc-iyx&location=meet.google.com%2Fvxj-xwfc-iyx&text=PennyLane%20Trivia%20Party" class="myButton">Add to Calendar!</a>

</p>


{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% endblock %}
