{% set num_link_cols = footer.footer_links|length %}

<footer class="page-footer text-md-left pt-4">
    <hr class="py-0 my-0">
      <div class="container-fluid">
        <div class="row justify-content-md-center">

          {% if footer.footer_about %}
          <!-- About -->
          <div class="{{ 'col-md-6 text-center' if footer.footer_links|length==0 else 'col-md-' + [12 - 2 * num_link_cols, 4] | min | string }}">
            <h5 class="mb-1 footer-heading">{{ footer.footer_about.title }}</h5>
            <hr width=100px class="d-inline-block mt-0 mb-1 accent-4">
            <p>{{ footer.footer_about.description }}</p>
          </div>
          {% endif %}

          <!-- Links -->
          {% for column in footer.footer_links %}
          <div class="col-md-2 col-4">
            <h5 class="mb-1 footer-heading">{{ column.title }}</h5>
            <hr width=100px class="d-inline-block mt-0 mb-1 accent-4">
            <ul class="list-unstyled">
              {% for link in column.links %}
              <li><a href="{{ link.href }}">{{ link.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}

        </div>
      </div>
      <hr>

      <!-- Social -->
      <div class="social-section text-center">
          <ul class="list-unstyled list-inline mb-0">
              {% for link in footer.footer_socials %}
              <li class="list-inline-item"><a class="btn-git" href="{{ link.href }}"><i class="{{ link.icon }}"> </i></a></li>
              {% endfor %}
          </ul>
          {% if footer.footer_tagline %}
            {% if "href" in footer.footer_tagline %}
              <a href="{{ footer.footer_tagline.href }}" style="font-size: initial;">
                {{ footer.footer_tagline.text }}
              </a>
            {% else %}
              <span class="footer-copyright" style="font-size: initial;">
                {{ footer.footer_tagline.text }}
              </span>
            {% endif %}
          {% endif %}
      </div>
    <!--/.Social buttons-->
    <!--Copyright-->
    <div class="footer-copyright py-3 mt-0 text-center">
        <div class="container-fluid">
            © Copyright 2023 | Xanadu | All rights reserved
            <br>
            TensorFlow, the TensorFlow logo and any related marks are trademarks of Google Inc.
        </div>
    </div>

    <!-- Highlight-js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
</footer>
