{% extends 'base.html' %}
{% block content %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}
<div class="parallax" style="background-image: url('img/background.png'); box-shadow: none;">
    <div class="container">


        <div class="pt-5 text-center teal-text text-lighten-2">
            <img src="img/pennylane_stacked.png" class="logo" srcset="img/pennylane_logo.svg"/>
        </div>

        <div class="row text-center">
            <h3 class="col-12 mt-5 mb-5 dark-grey-text">A cross-platform Python library for differentiable programming of quantum computers. Train a quantum computer the same way as a neural network.</h3>
        </div>

        <div class="row">
            <div class="col-lg-4 mb-5">
                <a href="https://pennylane.ai/qml">
                    <div class="landing-card card-image" style="background-image: url(img/learn.png); background-size: cover;">
                        <div class="text-center d-flex align-items-center rgba-white-strong mask">
                            <div>
                                <h3 class="card-title">
                                    Learn
                                </h3>
                                <p class="mb-1 black-text px-3">Sit back and learn about the fields of quantum machine learning, explore key concepts, and view our selection of curated videos.</p>
                                <div class="white-text d-flex justify-content-center">
                                    <h5>Quantum machine learning <i class="fas fa-angle-double-right"></i></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 mb-5">
                <a href="https://pennylane.ai/qml/demonstrations.html">
                    <div class="landing-card card-image" style="background-image: url(img/blackbird.jpg);">
                        <div class="text-center d-flex align-items-center mask rgba-white-strong">
                            <div>
                                <h3 class="card-title">
                                    Play
                                </h3>
                                <p class="mb-1 black-text px-3">Tutorials to introduce core QML concepts, including quantum nodes, optimization, and devices, via easy-to-follow examples.</p>
                                <div class="white-text d-flex justify-content-center">
                                    <h5>Demos <i class="fas fa-angle-double-right"></i></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 mb-5">
                <a href="https://codebook.xanadu.ai/">
                    <div class="landing-card card-image" style="background-image: url(img/codebook_blur.png); background-size: cover;">
                        <div class="text-center d-flex align-items-center mask"  style="background-color: rgba(236, 221, 234, 0.8)">
                            <div style="width: 100%; min-height: 198px;">
                                <h3 class="card-title">
                                    Code
                                </h3>
                                <!-- <img src="img/codebook_blur.png" style="margin-top: 40px;" width="200px"/> -->
                                <p class="mb-1 black-text px-3"> Use PennyLane to explore various quantum computing topics in the Quantum Codebook.</p>
                                <div class="white-text d-flex justify-content-center" style="margin-top: 24px;">
                                    <h5>Codebook<i class="fas fa-angle-double-right"></i></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div id="latest-news" class="pb-5 d-none">
          <h3 class="mb-3 mt-0">Latest Blog Posts</h3>
          <div class="news text-left">
            <ul class="news__item-list"></ul>
          </div>
        </div>

    </div>
</div>
<div class="parallax" style="background-image: url('img/banner.png');">
    <div class="mask rgba-black-strong pt-5 pb-4" style="backdrop-filter: blur(5px);">

        <h4 class="white-text text-center mt-0 mb-4">PennyLane is a proud member of the quantum open-source community</h4>

        <div class="container mb-3">
          <h5 class="white-text text-center mt-0 mb-4">Sponsor Organizations</h5>

          <div class="row text-center justify-content-center align-items-center">
            <a href="https://xanadu.ai/" class="mb-5 px-5">
              <img class="img-responsive" alt="Xanadu" src="img/xanadu.png" style="max-width: 140px;"/>
            </a>

            <a href="https://amazon-braket-pennylane-plugin-python.readthedocs.io" class="mb-5 px-5">
              <img class="img-responsive" alt="AWS" src="img/AWS_logo_banner.png" style="max-width: 140px;"/>
            </a>

          </div>
        </div>

        <div class="container">
          <h5 class="white-text text-center mt-0 mb-4">Partner Organizations</h5>

          <div class="row text-center justify-content-center align-items-center">
            <a href="https://pennylaneqiskit.readthedocs.io" class="mb-5 px-4 d-flex">
                <img class="my-auto img-responsive" alt="IBM" src="img/ibm.png" style="max-width: 300px;"/>
            </a>

            <a href="https://pennylane-cirq.readthedocs.io" class="mb-5 px-4 d-flex">
                <img class="my-auto img-responsive" alt="Google" src="img/google.png" style="max-width: 200px;"/>
            </a>

            <a href="https://pennylane-forest.readthedocs.io" class="mb-5 px-4 d-flex">
                <img class="my-auto img-responsive" alt="Rigetti" src="img/rigetti.png" style="max-width: 170px;"/>
            </a>

            <a href="https://developer.nvidia.com/cuquantum-sdk" class="mb-5 px-4 d-flex">
                <img class="my-auto img-responsive" alt="Nvidia" src="img/nvidia.png" style="max-width: 275px;"/>
            </a>

            <a href="https://pennylane-qsharp.readthedocs.io" class="mb-5 px-4 d-flex">
                <img class="my-auto img-responsive" alt="Microsoft" src="img/microsoft.png" style="max-width: 220px;"/>
            </a>

            <a href="https://pennylane-ionq.readthedocs.io" class="mb-5 px-4 d-flex">
                <img class="my-auto img-responsive" alt="IonQ" src="img/ionq.png" style="max-width: 175px;"/>
            </a>

            <a href="https://pennylane-aqt.readthedocs.io" class="mb-5 px-4 d-flex">
                <img class="my-auto img-responsive" alt="AQT" src="img/aqt.png" style="max-width: 150px;"/>
            </a>

            <a href="https://agnostiq.ai/" class="mb-5 px-4 d-flex">
                <img class="my-auto img-responsive" alt="Agnostiq" src="img/agnostiq.png" style="max-width: 200px;"/>
            </a>

            <a href="https://www.multiversecomputing.com/" class="mb-5 px-4 d-flex">
                <img class="my-auto img-responsive" alt="Multiverse Computing" src="img/multiverse.png" style="max-width: 120px;"/>
            </a>

            <a href="https://www.menten.ai/" class="mb-5 px-4 d-flex">
                <img class="my-auto img-responsive" alt="Menten" src="img/menten.png" style="max-width: 200px;"/>
            </a>

            <a href="https://pennylane-orquestra.readthedocs.io" class="mb-5 px-4 d-flex">
                <img class="my-auto img-responsive" alt="Zapata" src="img/zapata.png" style="max-width: 200px;"/>
            </a>

            <a href="https://unitary.fund/" class="mb-5 px-4 d-flex">
                <img class="my-auto img-responsive" alt="Unitary Fund" src="img/unitaryfund.png" style="max-width: 175px;"/>
            </a>

            <a href="https://www.covestro.com/en" class="mb-5 px-4 d-flex">
                <img class="my-auto img-responsive" alt="Covestro" src="img/covestro.png" style="max-width: 100px;"/>
            </a>

            <a href="https://creativedestructionlab.com/" class="mb-5 px-4 d-flex">
                <img class="my-auto img-responsive" alt="Creative Destruction Lab" src="img/cdl.png" style="max-width: 180px;"/>
            </a>

          </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="text-center">
        <h1>Features</h1>
    </div>
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-md-4">
            <!-- <div class="card py-4 px-4"> -->
            <div class="card-title text-center">
                <img class="img-fluid" src="img/calculator.svg" width="70px"/><br>
                <h5>Follow the gradient</h5>
            </div>
            <p class="grey-text">Built-in automatic differentiation of quantum circuits, using the near-term quantum devices directly. You can combine multiple quantum devices with classical processing arbitrarily!
            </p>
            <!-- </div> -->
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4">
            <!-- <div class="card py-4 px-4"> -->
            <div class="card-title text-center">
                <img class="img-fluid" src="img/globe.svg" width="70px"/><br>
                <h5>Makes PyTorch and TensorFlow quantum</h5>
            </div>
            <p class="grey-text">Support for hybrid quantum and classical models, and compatible with existing machine learning libraries. Quantum circuits can be set up to interface with either NumPy, PyTorch, JAX, or TensorFlow, allowing hybrid CPU-GPU-QPU computations.
            </p>
            <!-- </div> -->
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4">
            <!-- <div class="card py-4 px-4"> -->
            <div class="card-title text-center">
                <img class="img-fluid" src="img/chip.svg" width="70px"/><br>
                <h5>Access all the devices</h5>
            </div>
            <p class="grey-text">The same quantum circuit model can be run on different devices. Install plugins to run your computational circuits on more devices, including <a href="https://github.com/PennyLaneAI/pennylane-sf">Strawberry Fields</a>, <a href="https://github.com/aws/amazon-braket-pennylane-plugin-python/">Amazon Braket</a>, <a href="https://github.com/PennyLaneAI/pennylane-qiskit/">Qiskit and IBM Q</a>, <a href="https://github.com/PennyLaneAI/pennylane-cirq/">Google Cirq</a>, <a href="https://github.com/rigetti/pennylane-forest/">Rigetti Forest</a>, and <a href="https://github.com/PennyLaneAI/pennylane-qsharp">the Microsoft QDK</a>
            </p>
        </div>
        <!-- </div> -->
    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="row mt-5">
        <!-- Grid column -->
        <div class="col-12 col-md-4 col-lg-5">
            <img class="img-fluid" src="img/code.png"/>
        </div>
        <div class="col-12 col-md-8 col-lg-7">
            <img class="img-fluid" src="img/header.png"/>
        </div>
    </div>
</div>


<div class="parallax" style="background-image: url('img/banner.png'); background-size: cover; min-height: 800px; position: relative;">
    <div class="view mask">
        <div class="row justify-content-center" style="display: flex;width: 100vw;height: 100vh;justify-content: center;align-items: center;">
            <iframe width="800px" height="450px" src="https://www.youtube.com/embed/WOLzqeuXVT8?controls=0&modestbranding=1" title="Welcome to PennyLane" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<script>
window.addEventListener('load', function() {
    fetch('https://www.feedrapp.info?q=https://pennylane.ai/blog/feeds/rss.xml&num=5')
        .then(function(response) { return response.json() })
        .then(function(body) {
            if (body.responseStatus === 200) {
                var monthMap = {
                  1: 'January',
                  2: 'February',
                  3: 'March',
                  4: 'April',
                  5: 'May',
                  6: 'June',
                  7: 'July',
                  8: 'August',
                  9: 'September',
                  10: 'October',
                  11: 'November',
                  12: 'December'
                }
                var latestBlogs = body.responseData.feed.entries;
                var $newsSection = document.querySelector('#latest-news');
                var $newsItemsList = $newsSection.querySelector('.news__item-list');

                latestBlogs.forEach(function(blog) {
                    var $newsItem = document.createElement('li');
                    $newsItem.className = 'news-item';

                    var $newsItemDate = document.createElement('time');
                    $newsItemDate.className = 'news-item__date';
                    $newsItemDate.setAttribute('datetime', blog.publishedDate);

                    var date = new Date(blog.publishedDate);
                    $newsItemDate.innerText = monthMap[date.getMonth() + 1] + ' ' + date.getDate() + ', ' + date.getFullYear();

                    var $newsItemLink = document.createElement('a');
                    $newsItemLink.className = 'news-item__link';
                    $newsItemLink.setAttribute('href', blog.link);
                    $newsItemLink.setAttribute('target', '_blank');
                    $newsItemLink.setAttribute('rel', 'noopener noreferrer');
                    $newsItemLink.innerText = blog.title;

                    $newsItem.appendChild($newsItemDate);
                    $newsItem.appendChild($newsItemLink);

                    $newsItemsList.appendChild($newsItem);
                });

                $newsSection.classList.remove('d-none');
            }
        })
        .catch(function(err) {
            console.log(err);
        });
});
</script>

{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% endblock %}
