{% extends 'base.html' %}
{% block content %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}
<div class="parallax" style="background-image: url('img/xanadu-background.png'); box-shadow: none;">
    <div class="container">
        <div class="mt-5 pt-5 text-center teal-text text-lighten-2">
            <a href="https://xanadu.ai">
                <img src="img/logo_new_small.png" class="mb-5" width=200px></img>
            </a>
            <img src="img/pennylane_stacked.png" class="logo" srcset="img/pennylane_stacked.png 800w, img/pennylane_thin.png 1500w"></img>
        </div>
        <div class="row text-center">
            <h3 class="col-12 mt-5 mb-5 grey-text" style="font-family: 'Roboto', sans-serif !important;">A cross-platform Python library for differentiable programming of quantum computers. Train a quantum computer the same way as a neural network.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-5">
                <a href="https://pennylane.ai/qml">
                    <div class="card card-image" style="background-image: url(img/learn.png); background-size: cover;">
                        <div class="text-center d-flex align-items-center rgba-white-strong mask">
                            <div>
                                <h3 class="card-title">
                                    <strong>Learn</strong>
                                </h3>
                                <p class="mb-1 black-text px-3">Sit back and learn about the field of quantum machine learning, explore key concepts, and view our selection of curated videos.</p>
                                <div class="white-text d-flex justify-content-center">
                                    <h5>Quantum machine learning <i class="fas fa-angle-double-right"></i></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 mb-5">
                <a href="https://pennylane.ai/qml/demonstrations.html">
                    <div class="card card-image" style="background-image: url(img/blackbird.jpg);">
                        <div class="text-center d-flex align-items-center mask rgba-white-strong">
                            <div>
                                <h3 class="card-title"></i>
                                    <strong>Play</strong>
                                </h3>
                                <p class="mb-1 black-text px-3">Tutorials to introduce core QML concepts, including quantum nodes, optimization, and devices, via easy-to-follow examples.</p>
                                <div class="white-text d-flex justify-content-center">
                                    <h5>Demos <i class="fas fa-angle-double-right"></i></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 mb-5">
                <a href="https://qhack.ai">
                    <div class="card card-image" style="background-image: url(img/qhack.png); background-size: cover;">
                        <div class="text-center d-flex align-items-center mask"  style="background-color: rgba(102, 86, 95, 0.6)">
                            <div style="width: 100%; min-height: 198px;">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="parallax" style="background-image: url('img/chip.jpg');">
    <div class="mask rgba-stylish-slight py-5">
        <div class="text-center pb-5">
            <h5 class="white-text" style="font-family: 'Roboto', sans-serif !important;">PennyLane supports a growing ecosystem, including a wide range of quantum hardware and machine learning libraries</h5>
        </div>
        <table class="container">
            <tr class="row text-center justify-content-center">
                <td class="col-12 col-md-12 col-lg-3 mb-5 first-logo">
                    <a href="https://xanadu.ai/">
                        <img class="img-responsive" src="img/xanadu_dark.png" style="max-width: 300px;"></img>
                    </a>
                </td>
                <td class="col-12 col-md-12 col-lg-2 mb-5">
                    <a href="https://amazon-braket-pennylane-plugin-python.readthedocs.io" class="align-middle">
                        <img class="img-responsive" src="img/AWS-Logo_png/AWS_logo_banner.png" style="max-width: 180px;"></img>
                    </a>
                </td>
                <td class="col-12 col-md-12 col-lg-2 mb-5">
                    <a href="https://pennylaneqiskit.readthedocs.io" class="align-middle">
                        <img class="img-responsive" src="img/ibm.png" style="max-width: 140px;"></img>
                    </a>
                </td>
                <td class="col-12 col-md-12 col-lg-3 mb-5">
                    <a href="https://pennylane-cirq.readthedocs.io">
                        <img class="img-responsive" src="img/google-dark.png" style="max-width: 200px;"></img>
                    </a>
                </td>
                <td class="col-12 col-md-12 col-lg-1 mb-5">
                    <a href="https://github.com/rigetti/pennylane-forest/">
                        <img class="img-responsive" src="img/rigetti.png" style="max-width: 170px;"></img>
                    </a>
                </td>
            </tr>
            <tr class="row text-center justify-content-center">
                <td class="col-12 col-md-12 col-lg-3 mb-5">
                    <a href="https://pennylane-qsharp.readthedocs.io">
                        <img class="img-responsive" src="img/microsoft.png" style="max-width: 220px;"></img>
                    </a>
                </td>
                <td class="col-12 col-md-12 col-lg-3 mb-5">
                    <a href="https://pennylane-aqt.readthedocs.io">
                        <img class="img-responsive" src="img/aqt_big_transparent.png" style="max-width: 125px;"></img>
                    </a>
                </td>
                <td class="col-12 col-md-12 col-lg-3 mb-5">
                    <a href="https://www.tensorflow.org/">
                        <img class="img-responsive" src="img/tf.png" style="max-width: 280px;"></img>
                    </a>
                </td>
                <td class="col-12 col-md-12 col-lg-3 mb-5">
                    <a href="http://www.pytorch.org/">
                        <img class="img-responsive" src="img/pytorch_dark.png" style="max-width: 250px"></img>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="container my-5">
    <div class="text-center">
        <h1>Features</h1>
    </div>
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-md-4">
            <!-- <div class="card py-4 px-4"> -->
            <div class="card-title text-center">
                <img class="img-fluid" src="img/calculator.svg" width="70px"></img><br>
                <h5>Follow the gradient</h5>
            </div>
            <p class="grey-text">The TensorFlow of quantum computing: built-in automatic differentiation of quantum circuits, using the near-term quantum devices directly. You can combine multiple quantum devices with classical processing arbitrarily!
            </p>
            <!-- </div> -->
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4">
            <!-- <div class="card py-4 px-4"> -->
            <div class="card-title text-center">
                <img class="img-fluid" src="img/globe.svg" width="70px"></img><br>
                <h5>Makes PyTorch and TensorFlow quantum</h5>
            </div>
            <p class="grey-text">Support for hybrid quantum and classical models, and compatible with existing machine learning libraries. Quantum circuits can be set up to interface with either NumPy, PyTorch, or TensorFlow, allowing hybrid CPU-GPU-QPU computations.
            </p>
            <!-- </div> -->
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4">
            <!-- <div class="card py-4 px-4"> -->
            <div class="card-title text-center">
                <img class="img-fluid" src="img/chip.svg" width="70px"></img><br>
                <h5>Access all the devices</h5>
            </div>
            <p class="grey-text">The same quantum circuit model can be run on different devices. Install plugins to run your computational circuits on more devices, including <a href="https://github.com/PennyLaneAI/pennylane-sf">Strawberry Fields</a>, <a href="https://github.com/aws/amazon-braket-pennylane-plugin-python/">Amazon Braket</a>, <a href="https://github.com/PennyLaneAI/pennylane-qiskit/">Qiskit and IBM Q</a>, <a href="https://github.com/PennyLaneAI/pennylane-cirq/">Google Cirq</a>, <a href="https://github.com/rigetti/pennylane-forest/">Rigetti Forest</a>, and <a href="https://github.com/PennyLaneAI/pennylane-qsharp">the Microsoft QDK</a>
            </p>
        </div>
        <!-- </div> -->
    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="row mt-5">
        <!-- Grid column -->
        <div class="col-12 col-md-4 col-lg-4">
            <img class="img-fluid" src="img/code.png"></img>
        </div>
        <div class="col-12 col-md-8 col-lg-8">
            <img class="img-fluid" src="img/graph.png"></img>
        </div>
    </div>
</div>
<div class="parallax" style="background-image: url('img/banner.png'); background-size: cover; min-height: 400px;">
    <div class="view mask py-5 rgba-grey-slight" style="min-height: 400px;">
    </div>
</div>
{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% endblock %}
