{% set navigation_bar = [
    (root + '/qml', 'qml', 'Quantum machine learning'),
    (root + '/qml/demonstrations.html', 'demos', 'Demos'),
    (root + '/install.html', 'install', 'Install'),
    (root + '/plugins.html', 'plugins', 'Plugins'),
    ('https://pennylane.readthedocs.io', 'docs', 'Documentation'),
    ('https://pennylane.ai/blog', 'blog', 'Blog'),
] -%}

{% set active_page = active_page|default("none") -%}

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light white sticky-top">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="{{ root }}/index.html">
        <img class="pr-1" src="{{ root }}/img/logo.png" width="28px"></img>
        <img src="{{ root }}/img/pennylane.svg" width="140px"></img>
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->

        <ul class="navbar-nav mr-auto">
            {% for href, id, caption in navigation_bar %}
                <li class="nav-item{% if id == active_page %} active{% endif %}">
                    <a class="nav-link" href="{{ href|e }}">{{ caption }}</a>
                </li>
            {% endfor %}
        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link" href="faq.html">
              <i class="fab fas fa-question"></i> FAQ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://discuss.pennylane.ai">
              <i class="fab fab fa-discourse"></i> Support
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/PennyLaneAI/PennyLane">
              <i class="fab fa-github"></i> GitHub
            </a>
          </li>
        </ul>
    </div>
    <!-- Collapsible content -->
</nav>
<!--/.Navbar-->
