{% set navigation_bar = [
    (root + '/qml', 'qml', 'Learn'),
    (root + '/qml/demonstrations.html', 'demos', 'Demos'),
    (root + '/install.html', 'install', 'Install'),
    (root + '/plugins.html', 'plugins', 'Devices'),
    ('https://docs.pennylane.ai', 'docs', 'Documentation'),
    ('https://pennylane.ai/blog', 'blog', 'Blog'),
] -%}

{% set active_page = active_page|default("none") -%}

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light white sticky-top">

    <!-- Navbar brand -->
    <a class="navbar-brand pt-0" href="{{ root }}/index.html">
        <img class="pr-1" src="{{ root }}/img/logo.png" width="28px"></img>
        <img src="{{ root }}/img/pennylane.svg" width="140px"></img>
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links on the Left -->
        <ul class="navbar-nav mr-auto">
          {% for link in navbar_left_links %}
            {% if active_page == link.name | lower %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ link.href }}">{{ link.name }}</a>
              <span class="sr-only">(current)</span>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ link.href }}">{{ link.name }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>

        <!-- Links on the Right -->
        <ul class="navbar-nav ml-auto nav-flex-icons">
          {% for link in navbar_right_links %}
            <li class="nav-item">
              <a class="nav-link" href="{{ link.href }}">
                <i class="{{ link.icon }} pr-1"></i> {{ link.name }}
              </a>
            </li>
          {% endfor %}

        </ul>
    </div>
    <!-- Collapsible content -->
</nav>
<!--/.Navbar-->
