{% extends 'base.html' %}
{% block content %}
{% block navbar %}
{% set active_page = "devices" %}
{% include "navbar.html" %}
{% endblock %}


<div class="container mt-5 pt-5 pb-5" id="wide-column">
    <div class="text-center">
        <h1>Plugins</h1>
        <p class="lead grey-text w-responsive mx-auto"> External quantum devices can be easily added to PennyLane by installing plugins.</p>
        <p class="lead grey-text w-responsive mx-auto mb-5">These plugins are installed separately, providing a rich ecosystem integrating popular quantum software development libraries with the hybrid optimization capabilities of PennyLane.</p>
    </div>

    <div class="container">
        <h2>Endorsed Plugins</h2>
        <p>
            Below are a list of official PennyLane plugins supported by the PennyLane development team.
        </p>
        <div class="card-deck mt-5">
            <a class="card plugin-card" href="https://pennylaneqiskit.readthedocs.io">
                <h4 class="card-header weird-blue-gradient">
                    Qiskit <img class="img-fluid plugin-logo" src="img/qiskit_logo_small.png" style="max-width: 20%;">
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        Qiskit is an open-source quantum software framework designed by IBM.
                        Supported hardware backends include the IBM Quantum Experience.
                    </p>
                </div>
            </a>
            <a class="card plugin-card" href="https://pennylane-cirq.readthedocs.io/">
                <h4 class="card-header weird-blue-gradient">
                    Cirq
                    <img class="img-fluid plugin-logo" src="img/cirq.png" style="max-width: 20%;">
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        Cirq is a Python library designed by Google for
                        writing, manipulating, and optimizing quantum
                        circuits and running them against quantum computers
                        and simulators.
                    </p>
                </div>
            </a>
        </div>
        <div class="card-deck mt-3">
            <a class="card plugin-card" href="https://pennylane-forest.readthedocs.io">
                <h4 class="card-header weird-blue-gradient">
                    Rigetti Forest
                    <img class="img-fluid plugin-logo" src="img/forest.png">
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        pyQuil and the Forest SDK are an open-source quantum software framework designed by Rigetti. Supported hardware backends include the Rigetti Aspen QPU.</p>
                </div>
            </a>
            <a class="card plugin-card" href="https://pennylane-qsharp.readthedocs.io">
                <h4 class="card-header weird-blue-gradient">
                    Microsoft QDK
                    <img class="img-fluid plugin-logo" src="img/qsharp.png" style="max-height: 25px">
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        Microsoft QDK is a library for quantum programming using the .NET Q# quantum programming language.
                        Provides access to the QDK full state simulator to be used with PennyLane.
                    </p>
                </div>
            </a>
        </div>
        <div class="card-deck mt-3">
            <a class="card plugin-card" href="https://pennylane-sf.readthedocs.io">
                <h4 class="card-header weird-blue-gradient">
                    Strawberry Fields
                    <img class="img-fluid plugin-logo" src="img/xanadu_sf.png">
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        Strawberry Fields is a Python library for simulating continuous variable quantum optical circuits.
                        Combines Strawberry Fields' polished universal simulator suite with PennyLane's automatic
                        differentiation and optimization.
                    </p>
                </div>
            </a>
            <a class="card plugin-card" href="https://pennylane-aqt.readthedocs.io">
                <h4 class="card-header weird-blue-gradient">
                    AQT
                    <img class="img-fluid plugin-logo" src="img/aqt.png">
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        Access to Alpine Quantum Technologies' ion-trap quantum computer over the cloud.

                    </p>
                </div>
            </a>
        </div>
        <div class="card-deck mt-3">
            <a class="card plugin-card" href="https://pennylane-honeywell.readthedocs.io">
                <h4 class="card-header weird-blue-gradient">
                    Honeywell
                    <img class="img-fluid plugin-logo" src="img/honeywell.png" style="max-height: 27px;">
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        Honeywell Quantum Solutions provides access to ion-trap quantum computing hardware over the cloud.
                    </p>
                </div>
            </a>
            <a class="card plugin-card" href="https://pennylane-pq.readthedocs.io">
                <h4 class="card-header weird-blue-gradient">
                    ProjectQ
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        ProjectQ is an open-source quantum compilation framework.
                    </p>
                </div>
            </a>
            <!-- <div class="card hidden-card"></div> -->
        </div>
    </div>

    <div class="container">
        <h2>Community plugins</h2>
        <p>In addition to the offical plugins, there are a wide range of plugins created by the PennyLane community.</p>
        <p><em>To write your own PennyLane-compatible plugin, the best place to start is our overview of the <a href="https://pennylane.readthedocs.io/en/stable/development/plugins.html">plugin API</a>. Have a plugin you would like to have listed here? Let us know at <a href="mailto:software@xanadu.ai">software@xanadu.ai</a>.</em></p>
        <div class="card-deck mt-5 mb-4">
            <a class="card plugin-card" href="https://github.com/XanaduAI/pennylane-qulacs">
                <h4 class="card-header spring-warmth-gradient">Qulacs</h4>
                <div class="card-body">
                    <p class="card-text">
                        Qulacs is a high-performance quantum circuit simulator for simulating large, noisy or parametric quantum circuits. Implemented in C/C++ and with python interface, Qulacs achieved both high speed circuit simulation and high usability.
                    </p>
                </div>
            </a>
            <a class="card plugin-card" href="https://github.com/synqs/pennylane-ls">
                <h4 class="card-header spring-warmth-gradient">
                    Labscript
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        This plugin provides a PennyLane device for executing quantum programs using Labscript Suite.
                    </p>
                </div>
            </a>
            <a class="card plugin-card" href="https://github.com/johannesjmeyer/pennylane-pyquest">
                <h4 class="card-header spring-warmth-gradient">
                    PyQuest
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        PyQuest is a Python library that connects to the high-performance mixed state simulator QuEST.
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
</div>


{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% endblock %}
